html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #e1dcd9;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #373234;
  text-align: center;
  font-size: 40px;
}

.titulo {
  text-align: left;
}

.centra-titulo {
  justify-content: center;
  display: flex;
}

span {
  color: #fda769;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 20px;
  background: #e1dcd9;
  box-shadow: inset 5px 5px 10px #b4b0ae,
    inset -5px -5px 10px #ffffff;
}

.box {
  display: none;
  padding: 10px;
  background-color: white;
}

.crear {
  padding: 30px;
  border-radius: 10px;

}

h2 {
  font-size: 15px;
  color: #373234;
  margin: 5px;
}

input {
  font-size: 15px;
  margin: 5px;
}

textarea {
  display: block;
  margin: 5px;
}

.add {
  margin: 0;
  padding: 4px;
}

button.add {
  font-size: 15px;
  border: none;
  background-color: #fda769;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  display: block;
  margin-top: 10px;
}

button.add:hover {
  opacity: 60%;
}

button.add:active {
  opacity: 100%;
}

#guardar {
  margin-top: 10px;
  font-size: 15px;
  border: none;
  background-color: #fda769;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  display: block;
  width: 50%;
}

#guardar:hover {
  opacity: 60%;
}

#guardar:active {
  opacity: 100%;
}

img {
  width: 450px;
  margin-top: 60px;
}

p.texto {
  font-size: 20px;
  text-align: center;
  font-weight: 900;
  color: #000000;
  text-align: left;
  cursor: move;
}

